<script>
  $(function(){ 
    $("#observations_table").jqGrid({
      url:'/observations/index_jqgrid.json',
      colModel :[ 
        {name:'left_taxon_name', label:'First Taxon', index:'left_taxon_name', width:300, editable: true, edittype:'text', editoptions: {size:50, maxlength: 200},sortable: true, searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'interaction_category_name', label:'Category',index:'ic.name', width:80, sortable: true,  editable:true, edittype:'select',editoptions:{dataUrl:'/interaction_categories/htmlselect_jqgrid'},searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'interaction_name', label:'Interaction',index:'i.name', width:190, sortable: true,  editable:true, edittype:'select',editoptions:{dataUrl:'/interactions/htmlselect_jqgrid'},searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'right_taxon_name', label:'Second Taxon',index:'right_taxon_name', width:300, editable: true, edittype:'text', editoptions: {size:50, maxlength: 200},sortable: true, searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
      ],
      pager: '#observations_pager',caption: 'Observations',rowNum:30,rowList:[30,50],
      editurl: '/observations/actions_jqgrid?format=json',
      sortname: 'created_at',sortorder: 'asc',multiselect: false
    }).navGrid('#observations_pager',{<%unless can? :create, :observation%>'add':false,<%end%><%unless can? :update, :observation%>'edit':false,<%end%><%unless can? :destroy, :observation%>'del':false,<%end%>'cloneToTop':true},
    {onInitializeForm:function(){bindEditGrid();},editCaption: 'Edit observation',width: 650, 
    serializeEditData:function(postdata){pd=postdata;
      return {'observation':{'oper': 'edit','id': postdata.id, 'interaction_id':postdata.interaction_name,'left_taxon_name':postdata.left_taxon_name,
      'right_taxon_name':postdata.right_taxon_name}};}},
      {onInitializeForm:function(){bindEditGrid();},addCaption: 'Add observation', width: 650, 
      serializeEditData:function(postdata){pd=postdata;
        return {'observation':{'oper': 'add','id': postdata.id, 'interaction_id':postdata.interaction_name,'left_taxon_name':postdata.left_taxon_name,
        'right_taxon_name':postdata.right_taxon_name}};}},{jqModal:false,left:20,top:100})    
    });  
</script>

  
 <%=link_to '[export all observations to csv]', :controller=>'observations', :action=>'export'%>
 <table id="observations_table"></table> 
 <div id="observations_pager"></div>

 <script>
  
   function bindEditGrid() {
     $( "#left_taxon_name" ).autocomplete({source: "/taxa/taxon_name_autocomplete.json",minLength: 2});  
     $( "#right_taxon_name" ).autocomplete({source: "/taxa/taxon_name_autocomplete.json",minLength: 2});  
     var t=setTimeout("bindCategoryName();",1000); // since the drop down menu is not created immediately and is not in the DOM, we need to wait a bit before binding the change event
     return true;
   }

   function bindCategoryName() {
     $( "#interaction_category_name").change(function(){
       select_value=$('#interaction_category_name').val();
       $.ajax({url: '/interactions/htmlselect_jqgrid',
         data: 'reload=true&interaction_category_id=' + select_value,
         success: function(data){
           $('#interaction_name').html(data);
           }
       })
     });
   }
   // bind events
   $(document).ready(
       function()
       {
         removeBottomToolbarButtons('observations');
       }
   );  
   
 </script>
