<script>

  $(function() {
  	$( "#view_data_panel" ).accordion();
  });
  
  $(function(){ 
    $("#ecosystems_table").jqGrid({
      url:'/ecosystems.json?jqgrid=true',
      datatype: 'json',mtype: 'GET',height: '100%',viewrecords: true,jsonReader: {repeatitems: false},
      colNames:['Name','Description'],
      colModel :[ 
        {name:'name', label:'Name', index:'name', width:300, editable: true, edittype:'text', searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'description', label:'Description',index:'description', width:450, sortable: false, editable: true, edittype:'textarea',editoptions:{rows:'3',cols:'40'},searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
      ],
      pager: '#ecosystems_pager',
      sortname: 'name',sortorder: 'asc',
      editurl: "/ecosystems/actions_jqgrid?format=json&model=ecosystem"  
    }).navGrid('#ecosystems_pager',{},{width: 500, serializeEditData: function(postdata){return {'ecosystem':postdata};}},{width: 500, serializeEditData: function(postdata){return {'ecosystem':postdata};}});
  });

var pd;
  $(function(){ 
    $("#interaction_types_table").jqGrid({
      url:'/interactions/index_jqgrid?format=json',
      datatype: 'json',mtype: 'GET',height: '100%',viewrecords: true,jsonReader: {repeatitems: false},
      colNames:['Name','Category'],
      colModel :[ 
        {name:'interaction_name', label:'Name', index:'interaction_name', width:300, editable: true, edittype:'text', searchoptions: { sopt: ['cn', 'bw', 'eq','ew' ]}}, 
        {name:'category_name', label:'Category',index:'category_name', width:300, sortable: true, editable: true, edittype:'select',editoptions:{value:{<%=@interaction_categories_values%>}}}, 
      ],
      pager: '#interaction_types_pager',
      sortname: 'interaction_name',sortorder: 'asc',
      editurl: "/interactions/actions_jqgrid?format=json&model=interaction"  
    }).navGrid('#interaction_types_pager',{},{width: 500, serializeEditData: function(postdata){pd=postdata;return {'interaction':{'oper': 'edit','id': postdata.id, 'interaction_category_id':postdata.category_name,'name':postdata.interaction_name}};}},{width: 500, serializeEditData: function(postdata){return {'interaction':{'oper': 'add','interaction_category_id':postdata.category_name,'name':postdata.interaction_name}};}});
  });

  $(function(){ 
    $("#interaction_categories_table").jqGrid({
      url:'/interaction_categories.json?jqgrid=true',
      datatype: 'json',mtype: 'GET',height: '100%',viewrecords: true,jsonReader: {repeatitems: false},
      colNames:['Name'],
      colModel :[ 
        {name:'name', label:'Name', index:'name', width:300, editable: true, edittype:'text', searchoptions: { sopt: ['cn', 'bw', 'eq','ew' ]}}, 
      ],
      pager: '#interaction_categories_pager',
      sortname: 'name',sortorder: 'asc',
      editurl: "/interaction_categories/actions_jqgrid?format=json&model=interactioncategory"  
    }).navGrid('#interaction_categories_pager',{},{width: 500, serializeEditData: function(postdata){return {'interactioncategory':postdata};}},{width: 500, serializeEditData: function(postdata){return {'interactioncategory':postdata};}});
  });
        
</script>

<h1>Ecosystems and Interaction Types</h1>

<div id="view_data_panel">

	<h3><a href="#">Ecosystems</a></h3>
	<div class="minsize">
	   <table id="ecosystems_table"></table> 
     <div id="ecosystems_pager"></div>
	</div>

	<h3><a href="#">Interaction Types</a></h3>
	<div class="minsize">
	   <table id="interaction_types_table"></table> 
     <div id="interaction_types_pager"></div>
	</div>

	<h3><a href="#">Interaction Categories</a></h3>
	<div class="minsize">
	   <table id="interaction_categories_table"></table> 
     <div id="interaction_categories_pager"></div>
	</div>
		
</div>
