<script>

  $(function(){ 
    $("#taxa_table").jqGrid({
      url:'/taxa.json?jqgrid=true',
      colNames:['Scientific Name','Common Name'],
      colModel :[ 
        {name:'scientific_name', label:'Scientific Name', index:'scientific_name', width:300, editable: true, editoptions: {size:50, maxlength: 200},edittype:'text', searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'common_name', label:'Common Name',index:'common_name', width:450, editable: true, edittype:'text', editoptions: {size:50, maxlength: 200}, searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
      ],
      pager: '#taxa_pager',caption:"Taxa",rowNum:30,rowList:['ALL',30,50,100,200],
      sortname: 'scientific_name',sortorder: 'asc',
      editurl: "/taxa/actions_jqgrid?format=json"      
    }).navGrid('#taxa_pager',{},{editCaption: 'Edit species',width: 650, serializeEditData: function(postdata){return {'taxon':postdata};}},{addCaption: 'Add species', width: 650, serializeEditData: function(postdata){return {'taxon':postdata};}})
  });

  $(function(){ 
    $("#ecosystems_table").jqGrid({
      url:'/ecosystems.json?jqgrid=true',
      colNames:['Name','Description'],
      colModel :[ 
        {name:'name', label:'Name', index:'name', width:300, editable: true, edittype:'text',  editoptions: {size:50, maxlength: 200}, searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
        {name:'description', label:'Description',index:'description', width:450, sortable: false, editable: true, edittype:'textarea',editoptions:{rows:3,cols:50},searchoptions: { sopt: ['cn', 'bw', 'eq','ew']}}, 
      ],
      pager: '#ecosystems_pager',caption:"Ecosystems",rowNum:10000,
      sortname: 'name',sortorder: 'asc',
      editurl: "/ecosystems/actions_jqgrid?format=json"  
    }).navGrid('#ecosystems_pager',{},{editCaption: 'Edit ecosystem',width: 650, serializeEditData: function(postdata){return {'ecosystem':postdata};}},{addCaption: 'Add ecosystem',width: 650, serializeEditData: function(postdata){return {'ecosystem':postdata};}});
  });
      
 function addTaxaToEcosystem() {
   var selectedTaxa=jQuery("#taxa_table").getGridParam('selarrrow');
   var selectedEcosystems=jQuery("#ecosystems_table").getGridParam('selarrrow');
   startLoading();
   $.ajax({
      type: "POST",
      dataType: "json",
      url: "/ecosystems_taxa/add_taxa?format=json",
      data: "taxa_ids=" + selectedTaxa+ "&ecosystems_ids=" + selectedEcosystems,
      complete: function(jqXHR, textStatus){endLoading();},
      success: function(data, textStatus, jqXHR){successMessage('Success');},
      error: function(jqXHR, textStatus, errorThrown){errorMessage(errorThrown);}
    });
  }
  
</script>


<div>
   <table id="taxa_table"></table> 
   <div id="taxa_pager"></div>   
   <br />
   <%= submit_tag 'Add selected taxa to selected ecosystems', :onclick=>'addTaxaToEcosystem();'%>
   <br /><br />
   <table id="ecosystems_table"></table> 
    <div id="ecosystems_pager"></div>

     
</div>
