<script>
  $(function() {
  	$( "#view_data_panel" ).accordion();
  });
  
  $(function(){ 
    $("#ecosystems_table").jqGrid({
      url:'/ecosystems.json?jqgrid=true',
      datatype: 'json',
      mtype: 'GET',
      height: '100%',      
      colNames:['Name','Description'],
      colModel :[ 
        {name:'name', label:'name', index:'name', width:300}, 
        {name:'description', label:'Description',index:'description', width:450, sortable:false}, 
      ],
      pager: '#ecosystems_pager',
      sortname: 'name',
      rowNum:20,
      rowList:[20,30,50],      
      sortorder: 'asc',
      viewrecords: true,
      jsonReader : {
        id: "0",
        repeatitems: false        
      },      
    }); 
  });
var lastsel;
  $(function(){ 
    $("#taxa_table").jqGrid({
      url:'/taxa.json?jqgrid=true',
      datatype: 'json',
      mtype: 'GET',
      height: '100%',
      colNames:['Scientific Name','Common Name'],
      colModel :[ 
        {name:'scientific_name', label:'Scientific Name', index:'scientific_name', width:300, editable: true, edittype:'text', searchoptions: { sopt: ['eq', 'bw', 'ne', 'cn']}}, 
        {name:'common_name', label:'Common Name',index:'common_name', width:450, editable: true, edittype:'text', searchoptions: { sopt: ['eq', 'bw', 'ew', 'cn']}}, 
      ],
      pager: '#taxa_pager',
      sortname: 'scientific_name',
      sortorder: 'asc',
      rowNum:20,
      rowList:[20,30,50],      
      viewrecords: true,
      onSelectRow: function(id){ if(id && id!==lastsel){ jQuery('#taxa_table').jqGrid('restoreRow',lastsel); jQuery('#taxa_table').jqGrid('editRow',id,true); lastsel=id; } }, 
      serializeRowData: function(postdata){return {model: 'taxon','taxon':postdata};},
      editurl: "/taxa/jqgrid",      
      jsonReader : {
         repeatitems: false        
      }   
    }).navGrid('#taxa_pager',  { view: false, del: true, add: true, edit: false, search: true },
         {}, // default settings for edit
         {}, // default settings for add
         {}, // delete
         {closeOnEscape: true, multipleSearch: false, closeAfterSearch: true }, // search options
         {}
       );
  });

  jQuery("#taxa_table").searchGrid({sopt:['cn','bw','eq','ew']} );


    
</script>

<h1>View Data</h1>

<div id="view_data_panel">
	<h3><a href="#">Species</a></h3>
	<div class="minsize">
	   <table id="taxa_table"></table> 
     <div id="taxa_pager"></div>   
	</div>


	<h3><a href="#">Ecosystems</a></h3>
	<div class="minsize">
	   <table id="ecosystems_table"></table> 
     <div id="ecosystems_pager"></div>
	</div>

	<h3><a href="#">Interaction Types</a></h3>
	<div class="minsize">

	</div>
	
</div>
  