  
  <div id="navTabs">
    
    <ul>
        <li><a href="#taxa">Taxa and Ecosystems</a></li>
        <li><a href="#interactions">Interaction Types</a></li>
        <li><a href="#observations">Observations</a></li>
        <li><a href="#viz">Visualize</a></li>
     </ul>
     
     <div id="taxa">
       
       <%= render :partial=>'taxa' %>

     </div>

     <div id="interactions">
       
       <%= render :partial=>'interactions' %>

     </div>

     <div id="observations">
       
       <%= render :partial=>'observations' %>

     </div>
     
     <div id="viz">
     
      <%= render :partial=>'visualize' %>
     
     </div>
       
  </div>

  <script>
  	$(function() {
  		$( "#navTabs" ).tabs();
  	});
  </script>

  <br />
  
