/* Form styles */
 
p.legend { margin-bottom: 1em; }
p.legend em { color: #C00; font-style: normal; }
 
div.errors { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
div.errors p { margin: 0; }
div.errors p em { color: #C00; font-style: normal; font-weight: bold; }
 
form p { margin: 5px; padding: 5px; }
form p.note { margin-left: 170px; font-size: 90%; color: #333; }
form fieldset { margin: 5px 0; padding: 5px; border: #DDD 1px solid; }
form legend { font-weight: bold; color: #666; }
form fieldset div { padding: 0.25em 0; }
label { margin-right: 5px; padding-right: 5px; width: 150px; display: block; float: left; text-align: right; position: relative; }
label.error, 
span.error { color: #C00; }
label em { position: absolute; right: 0; font-size: 100%; font-style: normal; color: #C00; }
input.error { border-color: #C00; background-color: #FEF; }
input:focus,
input.error:focus, 
textarea:focus {	background-color: #FFC; border-color: #FC6; }

input[type="submit"], input[type="button"]{
	padding:0.5em 1em;
	background:#fafafa;
	background-image:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(214,224,250)),
    color-stop(0.88, rgb(239,242,250)),
    color-stop(0.99, rgb(247,248,252)),
    color-stop(1, rgb(255,255,255))
);
background-image:-moz-linear-gradient(
    center bottom,
    rgb(214,224,250) 0%,
    rgb(239,242,250) 88%,
    rgb(247,248,252) 99%,
    rgb(255,255,255) 100%
);
	border:solid 1px #99b1ed;
	color:#2e4987;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-shadow:#fff 0 1px 0;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow:0 1px 0 #e1e9fc;
	-moz-box-shadow: 0 1px 0 #e1e9fc;
	box-shadow: 0 1px 0 #e1e9fc;
}
input:hover, input:focus {
	border-color:#c5c5c5;
	background:#f6f6f6;
}
